@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=Inter:wght@300; 400;700&display=swap');

body {
  margin: 0;
  font-family:'Inter', sans-serif;
  font-weight: 400;
  color: #0B2253;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  height: 100vh;
  padding: 2em 0;
}

.container {
  width: 25em;
}

h1{
  font-size: 1.563rem;
  word-spacing: 2px;
  font-weight: 700;
  margin: 2em 0;
  padding: 0;
}

.phase-wrapper {
  margin: 2em 0;
  border: 2px solid #F7F9FB;
}

.phase-header {
  background-color: #F7F9FB;
  color: #0B2253;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border-radius: 0.25em 0.25em 0 0;
}

.phase-header h2 {
  font-weight:  300;
}

.phase-header p {
  font-weight:  300;
  font-size: 0.8em;
  letter-spacing: 0.9px;
}

.phase-content {
  /* height: 20em; */
  padding: 1em 0;
  max-height: 10em;
  overflow-y: scroll;
}

.phase-contain {
  padding: 1em;
}

.phase-status {
  display: flex;
  align-items: center;
}

.phase-cirle {
  height: 15px;
  width: 15px;
  margin-right: 0.5em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.phase-cirle-green {
  height: 15px;
  width: 15px;
  margin-right: 0.5em;
  background-color: #00bb86;
  border-radius: 50%;
  display: inline-block;
}

.phase-cirle-black {
  height: 15px;
  width: 15px;
  margin-right: 0.5em;
  background-color: #E3A412;
  border-radius: 50%;
  display: inline-block;
}

.phase-footer {
  width: 100%;
  background-color: #F7F9FB;
}

.add-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-steps:hover{
  cursor: pointer;
}


.footer-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
}


/* 
  Form sytlin another css file
*/

button{
  background-color: #f6f9fb;
  color: none;
  border: 1px solid #f6f9fb;
  margin-left: 0.2em;
}

button:hover{
  background-color: #f6f9fb;
  color: none;
  border: 1px solid #f6f9fb;
  display: inline;
}

input {
  border: none;
  border-bottom: 1px solid #0B2253;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 300;
  color: #0B2253;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#delete-icon {
  opacity: 0.1;
}

#delete-icon:hover {
  opacity: 1;
  cursor: pointer;
}


